header{
    background-color: #FFF8F3;
    background-image: url(./images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 700px;
}
nav h3{
    color: var(--Dark-01, #181818);
    font-family: Open Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    
}
.color{
    color: orange;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;


}
nav ul{
    align-items: center;
}
li{
    list-style: none;
    display: inline;
    margin-right: 50px;
    
}
nav a{
    text-decoration: none;
    color:  #474747;
    font-family: Open Sans;
    font-size: 20px

}
.btn1{
     background-color: #FD6E0A;
     padding: 15px 20px;
     border: 0;
     color: white;
     font-family: Open Sans;
     font-size: 20px;
     font-style: normal;
     border-radius: 5px;
}
.intro{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.Profile-pic{
    width: 450px;
    
}
.greeting{
    font-family: Open Sans;
    
    margin-left: 150px;
    max-width: 500px;
    
}
.greeting-text{
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    color: #474747;
    margin-bottom: 0;
}
.name{
    font-size: 85px;
    font-style: normal;
    font-weight: 700;
    color: #181818;
    margin-top: 5px;
    margin-bottom: 0;
}
.description{
    color: var(--Dark-03, #757575);
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    margin-top: 10px;  
}
.btn2{
    color: #FD6E0A;
    background-color: #FFF8F3;
    border: 1px solid #FD6E0A;
    border-radius: 5px;
    padding: 15px 25px;
    font-family: Open Sans;
    font-size: 20px;
    margin-left: 10px;
}
.about{
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px 0;
    padding: 130px;
}
.Title-text{
    color:  #181818;
    text-align: center;
    font-family: Open Sans;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.about-description{
    color: #757575;
    text-align: center;
   font-family: Open Sans;
   font-size: 18px;
   font-style: normal;
   font-weight: 400;
   line-height: 30px
}
main{
    max-width: 1140px;
    margin: 0 auto;
    
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about-info{
    text-align: center;
    line-height: 5px;
}
.info-title{
    color: #757575;
    font-family: Open Sans;
    font-size: 20px;
}
.info-description{
    color: black;
    font-family: Open Sans;
    font-size: 18px;
    font-weight: bold;
    
}
.what-i-do-description{
    color: #757575;
    text-align: center;
   font-family: Open Sans;
   font-size: 18px;
   font-style: normal;
   padding: 0 130px;
}
.experience{
    display: flex;
    

}
.experience-1{
    text-align: center;
    padding: 0 30px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    margin: 0 10px;
}
/* main  */

main section{
    margin-top: 130px;
}
/* resume section */

.details{
    display: flex;
    gap: 50px;

}

.e-name{
  color: var(--Dark-02, #474747);
  font-family: Open Sans;
  font-size: 30px;
}
.education-title, .exp-title{
    color: var(--Dark-02, #474747);
   font-family: Open Sans;
   font-size: 20px;
   margin-bottom: 10px;
}
.institute, .company{
    color: var(--Dark-03, #757575);
    font-family: Open Sans;
    font-size: 15px;
    margin-top: 0;
}
.edu-description, .exp-info{
    color: var(--Dark-03, #757575);
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    margin-top: 5px; 
}

.download-cv{
    text-align: center;
    margin-top: 50px
}
footer{
    display: flex;
    gap: 100px;
    padding: 130px 200px;
    margin-top: 100px;
    background: #FFF8F3;
}
.footer-column{
    width: 50%;
}
.contact input[type="text"], .contact input[type="email"],
textarea {
    display: block;
    margin-bottom: 25px;
    padding: 18px 25px;
    color: #757575;
    border-radius: 5px;
    background: #FFF;
    border: 0;
    width: 100%;
}
.social-link a{
    margin-right: 20px;
}


@media screen and (max-width:576px) {
       nav{
        flex-direction: column;
        margin: 0 100px;
        
    }
    .greeting{
        margin-left: 0px;
    }
    .intro{
        flex-direction: column;
        flex-wrap: wrap;
    }
    .about{
        padding: 0;
    }
    .about-info-container{
        flex-direction: column;
        flex-wrap: wrap;
    }
    .experience{
        flex-direction: column;
    }
    .what-i-do-description{
        padding: 0;
    }
    .details{
        flex-direction: column;
    }

    footer{
        flex-direction: column;
        padding: 0;
    }
}